.steps-body {
	margin-top: 59px;
	min-height: calc(100vh - 59px);
	padding: 20px;
	background-color: #e6e6e6;
}

.steps-body .header3 {
	height: 58px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: transparent;
	color: #000;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	text-align: left;
	border-bottom: solid 1px #fff;
}

.steps-body .header3 .title {
	line-height: 46px;
	font-weight: bolder !important;
}

.steps-body .header3 .w3-button {
	padding: 8px 16px;
	font-size: 14px;
	width: auto;
}

.steps-body .header3 .w3-button.cancel {
	color: #fff;
	border: solid 1px #999;
	background-color: #b3b3b3;
}

.steps-body .header3 .w3-button.save {
	color: #fff;
	border: solid 1px #fff;
	background-image: linear-gradient(45deg, #8900fe, #2e89fe 50%, #00e8fe);
}

.steps-body .header3 .w3-button.save:hover {
	color: #fff !important;
	background-image: linear-gradient(45deg, #00e8fe, #2e89fe 50%, #8900fe);
}

.steps-body .info-body {
	margin-top: 18px;
}

.info-body .left-part {
	padding-right: 20px;
}

.info-body .left-part div {
	background-color: #fff;
}

.steps-body .community-picture {
	margin: 0;
	width: 100%;
	height: auto;
}

#wf-form-New-Community input[type="file"] {
	display: block;
	margin: 0 8px 8px;
}

.left-part .basic-info {
	padding: 10px;
}

.left-part .basic-info input, .left-part .basic-info select {
	width: 100% !important;
	border-bottom: 1px solid #ccc !important;
}

.steps-body .slide-container {
	width: 100%;
	margin: auto;
}

.steps-body .slide-container .nav{
	opacity: 0.2;
}

.steps-body .slide-container .nav:hover{
	opacity: 0.6;
}

.steps-body .slide-container .indicators{
	margin-top: 8px;
}

.steps-body .slide-container h3 {
	text-align: center;
}

.steps-body .each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
}

.steps-body .flexdiv-left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 0;
	padding-right: 20px;
	padding-left: 0;
	flex: 0 auto;
	grid-auto-columns: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 0;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	line-height: 14px;
}

.steps-body .flexdiv-left.labels {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.steps-body .form-header {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #1b0033;
	font-size: 16px;
	line-height: 32px;
	font-weight: 600;
}

.steps-body .tooltip-icon {
	max-height: 12px;
	padding-left: 10px;
	-webkit-align-self: center;
	-ms-grid-row-align: center;
	align-self: center;
	color: #ccc;
}

.steps-body .form-block1 {
	margin: 0;
	padding: 0;
}

.steps-body .namecategory-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 10px;
	grid-auto-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
	border-bottom: 1px solid #ccc;
}

.steps-body .input-div {
	padding: 0 10px 10px 10px;
	background-color: #fff;
}

.steps-body .form-input.communityname {
	margin-bottom: 0;
	padding-left: 10px;
	border-bottom-style: none;
}

.steps-body .w-input, .steps-body .w-select {
	display: block;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.steps-body .form-input {
	margin-bottom: 0;
	padding-right: 10px;
	padding-left: 10px;
	border-style: none none solid;
	border-width: 1px;
	border-color: #000 #000 #ccc;
	border-radius: 0;
	background-color: transparent;
	color: #1b0033;
	text-align: left;
}

.steps-body .form-input:focus {
	background-color: transparent;
}

.steps-body .w-input:focus, .steps-body .w-select:focus {
	border-color: #3898EC;
	outline: 0;
}

.steps-body .form-select {
	display: block;
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	background-color: transparent;
	color: #1b0033;
}

.steps-body .form-select.category {
	margin-bottom: 0;
	margin-left: 0;
	border-style: none;
	border-color: #ccc;
	color: #1b0033;
	font-style: normal;
}

.steps-body .category {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #505050;
	font-size: 14px;
	line-height: 15px;
	font-style: normal;
	font-weight: 400;
}

.steps-body .upload-button {
	display: inline-block;
	height: auto;
	max-width: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px 10px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 5px;
	background-color: transparent;
	color: #1b0033;
	text-align: center;
}

.steps-body .textarea {
	min-height: 80px;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
	color: #1b0033;
}

.steps-body .w-form-done {
	display: none;
	padding: 20px;
	text-align: center;
	background-color: #dddddd;
}

.steps-body .w-form-fail {
	display: none;
	margin-top: 10px;
	padding: 10px;
	color: #b00;
	background-color: #ffdede;
}

.steps-body .form-link.cancel {
	padding-top: 20px;
	background-color: transparent;
	color: #fff;
	font-size: 14px;
}

.steps-body .form-submit:hover {
	background-color: hsla(0, 0%, 100%, 0.7);
	-webkit-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
	cursor: pointer;
}

.steps-body .filter-div {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: space-around;
	align-content: space-around;
	border-bottom: 1px solid #ccc;
}

.steps-body .filter-label {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #1b0033;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
}

.steps-body .filter-option {
	display: inline;
	position: relative;
	padding-left: 20px;
	margin-right: 12px;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.steps-body .filter-option:hover {
	color: #666;
}

.steps-body .filter-option input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.steps-body .filter-checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 12px;
	width: 12px;
	border-radius: 2px;
	border: solid 1px #000;
	background-color: #fff;
}

.steps-body .filter-radiomark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: solid 1px #000;
	background-color: #fff;
}

.steps-body .filter-option:hover input ~ .filter-checkmark,
.steps-body .filter-option:hover input ~ .filter-radiomark {
	border: solid 1px #fff;
	background-color: #eee;
	box-shadow: 0 0 2px #3898ec;
}

.steps-body .filter-option input:checked ~ .filter-checkmark,
.steps-body .filter-option input:checked ~ .filter-radiomark {
	border: none;
	background-color: #3898ec;
}

.steps-body .filter-checkmark:after,
.steps-body .filter-radiomark:after {
	content: "";
	position: absolute;
	display: none;
}

.steps-body .filter-option input:checked ~ .filter-checkmark:after,
.steps-body .filter-option input:checked ~ .filter-radiomark:after {
	display: block;
}

.steps-body .filter-option .filter-checkmark:after {
	left: 4px;
	top: 1px;
	width: 4px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(48deg);
}

.steps-body .filter-option .filter-radiomark:after {
	top: 4px;
	left: 4px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #fff;
}

.steps-body .attendance-div {
	margin-bottom: 0;
	padding-top: 10px;
}

.steps-body .attendance-input {
	max-width: 75px;
	margin-bottom: 0;
	border-style: none none solid;
	border-width: 1px;
	border-color: #000 #000 #ccc;
	background-color: transparent;
}

.steps-body .form-submit.create {
	margin-top: 15px;
}
