.sign-body {
	--header-height: 70px;
	--footer-height: 310px;
}

.sign-body.verify {
	min-height: calc(100vh - var(--footer-height));
	max-height: calc(100vh - var(--footer-height));
}

@media screen and (max-width: 768px) {
	.sign-body {
		--footer-height: 266px;
	}
}

.w3-modal::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(255, 255, 255, 0);
}

.w3-modal::-webkit-scrollbar-thumb {
	width: 6px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.4);
}

.welcome-message {
	max-width: none;
  margin-top: 15px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #00bda5;
  border-radius: 3px;
  background-color: rgba(0, 189, 165, 0.2);
  color: #33475b;
  text-align: center;
}

@media screen and (max-width: 600px) {
	.welcome-message {

	}
}

.sign-body {
	min-height: 586px;
	max-height: calc(100vh - var(--footer-height));
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 0, 51, 0.1)), to(rgba(27, 0, 51, 0.1)));
	background-image: linear-gradient(180deg, rgba(27, 0, 51, 0.1), rgba(27, 0, 51, 0.1));
	display: -webkit-box;
	/* display: -webkit-flex; */
	display: -ms-flexbox;
	/* display: flex; */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	/* -webkit-align-items: center; */
	-ms-flex-align: center;
	/* align-items: center; */
	-webkit-align-self: stretch;
	align-self: stretch;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-size: auto;
}

.sign-body.register {
	min-height: calc(100vh - var(--footer-height));
	max-height: none;
}

.sign-body.other {
	min-height: calc(100vh - var(--footer-height));;
}

.sign-body form {
	padding-top: 10px;
}

.div-block-63 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
  background: linear-gradient(45deg, #6a78d1, #00a4bd);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: start;
  align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
  padding-top: 100px;
}

.div-block-38 {
  background: #f5f8fa;
  padding: 20px;
  border-radius: 3px;
	max-width: 460px;
	margin: 40px auto;
	-webkit-align-self: center;
	-ms-grid-row-align: center;
	align-self: center;
	animation: zoom_in ease 0.7s;
}

.div-block-38.login {
	max-width: 372px;
	min-width: auto;
}

.header1-div {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.header1-div.gradient {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: linear-gradient(45deg, #8900fe, #2e89fe 50%, #00e8fe);
	box-shadow: none;
}

.sign-body .header1-div.gradient.shadow {
	padding: 40px 20px;
	background-image: linear-gradient(45deg, rgba(137, 0, 254, 0.6), rgba(46, 137, 254, 0.6) 50%, rgba(0, 232, 254, 0.6)), url("../img/Search-background.jpg");
	background-position: 0 0, 100% 50%;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
	background-attachment: scroll, scroll;
	box-shadow: none;
	line-height: 24px;
	z-index: 1000;
}

.header3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: 1px none #000;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	text-align: left;
}

.sign-body .header3.center {
	color: #f3f2f5;
	border-radius: 0;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	line-height: 28px;
}

.sign-body .form-div1 {
	margin-top: 10px;
}

.sign-body .input-group {
	display: grid;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-auto-columns: 1fr;
	grid-gap: 10px 10px;
	-ms-grid-columns: 1fr 10px 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto 10px auto 10px auto;
	grid-template-rows: auto auto auto;
}

.sign-body .forminput-div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.sign-body .forminput-div.span-2 {
	-ms-grid-row: span 1;
	grid-row-start: span 1;
	-ms-grid-row-span: 1;
	grid-row-end: span 1;
	-ms-grid-column: span 2;
	grid-column-start: span 2;
	-ms-grid-column-span: 2;
	grid-column-end: span 2;
}

@media screen and (max-width: 600px) {
	.sign-body .forminput-div {
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
	}
}

.form-block1 {
	width: auto;
	max-width: none;
	margin-bottom: 0;
	padding-top: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: left;
}

.w-form {
	margin: 0;
}

.sign-body .form-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 0;
	border: none;
}

.input-div.gradient {
	padding-bottom: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-image: none;
}

@media screen and (max-width: 979px) {
	.input-div {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		border-bottom-style: none;
	}
}

@media screen and (max-width: 600px) {
	.sign-body {
		--header-height: 116px;
		padding: 100px 0 10px;
		height: auto;
		min-height: 100vh;
		max-height: unset;
	}

	.sign-body.register {
		padding-top: 80px;
		min-height: auto;
		max-height: none;
	}

	.sign-body .div-block-63 {
		display: block;
		height: auto;
		min-height: auto;
	}

	.sign-body .header3.center {
		font-size: 20px;
		line-height: 22px;
	}

	.sign-body .form-input.center {
		line-height: 18px;
		font-size: 18px !important;
	}

	.sign-body .form-submit {
		font-size: 18px !important;
		height: 40px;
	}

	.sign-body .w-form-fail {
		font-size: 18px !important;
	}

	.sign-body .or-text,
	.sign-body .link-5,
	.sign-body .sdk-div button span,
	.sign-body .kep-login-facebook.metro {
		font-size: 18px;
	}
}

@media screen and (max-width: 600px) {
	.sign-body .div-block-38 {
		margin-top: 0;
		margin-bottom: 0;
		padding: 10px;
		max-width: 100%;
	}
}

.sign-body .w-input, .sign-body .w-select {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.form-input.center:hover {
	/*border-bottom-color: #8900fe;*/
}

.form-input {
	margin-bottom: 0;
	padding: 10px;
	line-height: 18px;
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background-image: linear-gradient(180deg, #fff, #fff);
	color: #333;
	text-align: left;
}

.sign-body .form-label {
	display: block;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #33475b;
}

.sign-body .form-input.center {
  min-height: 40px;
  margin-bottom: 0px;
  padding: 0px 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: none;
  font-family: Poppins, sans-serif;
  color: #33475b;
  font-size: 14px;
  line-height: 21px;
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid #eaf0f6;
  margin: 0;
}
.sign-body select.form-input.center {
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px none #000;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  color: #33475b;
  font-size: 14px;
}
.sign-body select.form-input.center option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.sign-body .form-input.center:hover {
	border-color: #2e89fe !important;
}

.sign-body .form-input.center:focus {
	border-color: #00e8fe !important;
}

.form-input.center.w3-half {
	width: 50% !important;
}

@media screen and (max-width: 979px) {
	.form-input {
		border-bottom-style: solid;
		font-size: 20px;
		/* line-height: 20px; */
	}
}

@media screen and (max-width: 480px) {
	.form-input.center.w3-half {
		width: 100% !important;
	}
}

.form-submit.round {
	border-radius: 0;
}

.w-button-sign {
	display: inline-block;
	padding: 9px 15px;
	background-color: #3898EC;
	color: white;
	border: 0;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0;
}

.sign-body .form-submit {
  cursor: pointer;
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00a4bd), to(#00bda5));
  background-image: linear-gradient(90deg, #00a4bd, #00bda5);    box-shadow: none;
	color: #f3f2f5;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	text-align: center;
	border: 1px solid #f3f2f5;
	border-radius: 3px;
  transition: opacity 200ms ease;
  border-radius: 3px;
  font-family: Poppins, sans-serif;
}

.form-submit:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#38b7ca), to(#31c8b4));
  background-image: linear-gradient(90deg, #38b7ca, #31c8b4);    box-shadow: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

input.w-button {
	-webkit-appearance: button;
}

.sign-body .w-form-done {
  display: none;
	max-width: none;
  margin-top: 15px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #00bda5;
  border-radius: 3px;
  background-color: rgba(0, 189, 165, 0.2);
  color: #33475b;
  text-align: center;
}

.modal-terms-conditions header {
	padding: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #333;
}

.modal-terms-conditions header .close-button {
	line-height: 44px;
}

.modal-terms-conditions .terms-conditions-content {
	padding: 20px 40px;
	font-size: 16px;
	color: #333;
}

.sign-body .w-form-fail {
	display: none;
	margin-top: 10px;
	padding: 10px;
	background-color: rgba(242, 84, 91, 0.2);
	color: #f2545b;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.sign-body .w-form-fail div {
  font-family: Poppins, sans-serif;
}

.div-block-58 {
	padding-bottom: 20px;
}

.terms-conditions {
	padding-top: 10px;
	text-align: center;
}

.sign-body .fineprint {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 0;
  color: #7c98b6;
  font-size: 10px;
  line-height: 16px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
  font-family: Poppins, sans-serif;
}

.sign-body .fineprint.link {
  color: #7c98b6;
  text-decoration: underline;
  font-family: Poppins, sans-serif;
}

.form-link {
	font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
	color: #7c98b6;
}

.lost-password {
	text-align: right;
	line-height: 16px;
	margin-bottom: 10px;
}

.form-link.termsofuse {
	display: inline-block;
	font-size: 16px;
}

.strikethrough-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 1px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #ddd9e1;
	line-height: 14px;
}

.or-div {
	padding-right: 10px;
	padding-left: 10px;
	background-color: #fff;
	background-image: none;
	background-size: auto;
}

.or-text {
	margin-top: 0;
	margin-bottom: 0;
	color: #999;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.container-subdiv {
	padding-top: 25px;
	-webkit-align-self: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	border-top: 1px none #ccc;
	text-align: center;
}

.label-span-2 {
	display: grid;
	grid-auto-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

.sdk-div {
	display: -ms-grid;
	display: grid;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	grid-auto-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

@media screen and (max-width: 979px) {
	.sdk-div {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.kep-login-facebook.metro {
		margin-top: 16px;
	}
}

.sdkbutton-div {
	display: inline-block;
	width: auto;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 0 10px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-style: none;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 0;
	background-color: #fff;
	box-shadow: 1px 1px 5px 0 #a1a1a1;
}

#w-node-48ce76d7e9cb-186f456f {
	justify-self: auto;
}

.button-icon {
	max-height: 20px;
	vertical-align: middle;
	display: inline-block;
}

.button.google {
	min-width: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #ccc;
	background-color: #fff;
	color: #333;
}

.sdk-div button {
	height: 39px;
	box-shadow: 1px 1px 3px 0 grey !important;
}

.sdk-div button div {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.sdk-div button div {
	margin-left: 2px;
	margin-top: 4px;
}

.sdk-div button span {
	padding-top: 6px !important;
	margin-left: auto;
	margin-right: auto;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: #333;
}

.kep-login-facebook.metro {
	padding: 7px 8px 12px;
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-indent: 28px;
	text-transform: none;
	background: #ffffff url("../img/icon-facebook.svg") no-repeat 14px 10px;
	background-size: 20px;
	color: #333;
	border: none;
	box-shadow: 1px 1px 3px 0 grey;
}

.sign-body .div-block-46 {
	margin-top: 20px;
  text-align: center;
}

.heading-11 {
	margin-top: 0;
	margin-bottom: 0;
	color: #f5f8fa;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.link-5 {
	text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.link-5:hover {
	color: rgba(230, 220, 220, 0.75);
}

.sign-body .submit-row {
	padding-top: 10px;
}

.sign-body .checkbox-organization {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
}

.sign-body .checkbox-label-organization {
	margin-bottom: 0;
	padding-left: 10px;
	color: #333;
	cursor: pointer;
}

.sign-body select {
	padding-right: 22px;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: right center;
}


/* update */

.div-register {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 40px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(45deg, #6a78d1, #00a4bd);
}

.div-registerform {
  width: 100%;
  max-width: 440px;
  min-width: auto;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #eaf0f6;
  border-radius: 3px;
  background-color: #f5f8fa;
}

.div-formheaderbackground {
  padding-bottom: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f59), to(#f5c26b));
  background-image: linear-gradient(90deg, #ff8f59, #f5c26b);
}

.div-formheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  margin-bottom: 0px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #000 #000 #cbd6e2;
  border-radius: 0px;
  background-color: #f5f8fa;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  box-shadow: none;
  text-align: center;
  font-family: Poppins, sans-serif;
  color: #33475b;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.div-registerinputs {
  display: -ms-grid;
  display: grid;
  padding: 0px;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border: 1px none #000;
}

.div-formheaderbackground span {
  font-family: Poppins, sans-serif;
  color: #33475b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}