.sign-body {
	--footer-height: 46px;
}

@media screen and (max-width: 990px) {
	.sign-body {
		--footer-height: 64px;
	}
}

.sign-body {
	padding: 68px 0 0 0;
	min-height: calc(100vh - var(--footer-height));
	max-height: calc(100vh - var(--footer-height));
	background-color: #e6e6e6;
	background-image: none;
	display: -webkit-box;
	/* display: -webkit-flex; */
	display: -ms-flexbox;
	/* display: flex; */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	/* -webkit-align-items: center; */
	-ms-flex-align: center;
	/* align-items: center; */
	-webkit-align-self: stretch;
	align-self: stretch;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-size: auto;
	opacity: 0.95;
}

.div-block-63 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: calc(100vh - 105px);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.div-block-38 {
	max-width: 550px;
	width: 90vw;
	padding: 40px;
	-webkit-align-self: center;
	-ms-grid-row-align: center;
	align-self: center;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.75);
}

.header1-div {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.header1-div.gradient {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: linear-gradient(45deg, #8900fe, #2e89fe 50%, #00e8fe);
	box-shadow: none;
}

.header1-div.gradient.shadow {
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 0;
	box-shadow: none;
	line-height: 14px;
}

.header3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: 1px none #000;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: transparent;
	font-family: Montserrat, sans-serif;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	text-align: left;
}

.header3.center {
	border-radius: 0;
	font-weight: 700;
	text-align: center;
}

.form-div1 {
	margin-top: 0;
	padding: 10px 0 0;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: none;
}

.form-block1 {
	width: auto;
	max-width: none;
	margin-bottom: 0;
	padding-top: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: left;
}

.w-form {
	margin: 0 0 15px;
}

.form-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 0;
}

.input-div.gradient {
	padding-bottom: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-bottom: 1px none #ccc;
	background-image: none;
}

@media (max-width: 991px){
	.input-div {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		border-bottom-style: none;
	}
}

.sign-body .w-input, .sign-body .w-select {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.form-input.center:hover {
	border-bottom-color: #8900fe;
}

.form-input {
	margin-bottom: 0;
	padding: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #000 #000 #ccc;
	border-radius: 0;
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background-image: linear-gradient(180deg, #fff, #fff);
	font-family: 'Source Sans Pro', sans-serif;
	color: #1b0033;
	text-align: left;
}

.form-input.center {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: none none solid;
	border-color: #000 #000 #ccc;
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	color: #1b0033;
	font-size: 16px;
	text-align: center;
}

.form-input.center.w3-half{
	width: 50%!important;
}

@media (max-width: 991px) {
	.form-input {
		border-bottom-style: solid;
		font-size: 20px;
		/* line-height: 20px; */
	}
}

@media (max-width: 480px) {
	.form-input.center.w3-half {
		width: 100%!important;
	}
}

.form-submit.round {
	border-radius: 0;
}

.w-button-sign {
	display: inline-block;
	padding: 9px 15px;
	background-color: #3898EC;
	color: white;
	border: 0;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0;
}

.form-submit {
	width: 100%;
	margin-top: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 3px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, right top, from(#8900fe), color-stop(50%, #2e89fe), to(#00e8fe));
	background-image: linear-gradient(90deg, #8900fe, #2e89fe 50%, #00e8fe);
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.form-submit:hover {
	background-color: hsla(0, 0%, 100%, 0.7);
	-webkit-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
}

input.w-button {
	-webkit-appearance: button;
}

.sign-body .w-form-done {
	display: none;
	padding: 20px;
	text-align: center;
	background-color: #dddddd;
}

.sign-body .w-form-fail {
	display: none;
	margin-top: 10px;
	padding: 10px;
	background-color: #ffdede;
}

.div-block-58 {
	padding-bottom: 20px;
}

.div-block-54 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 20px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fineprint {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 0;
	color: #ccc;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

.fineprint.link {
	padding-left: 5px;
	color: rgba(27, 0, 51, 0.7);
	text-decoration: none;
}

.form-link {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	font-family: Montserrat, sans-serif;
	color: #2e89fe;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

.form-link.termsofuse {
	display: inline-block;
	padding-top: 0;
	color: #2e89fe;
}

.strikethrough-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 1px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #ccc;
	line-height: 14px;
}

.or-div {
	padding-right: 10px;
	padding-left: 10px;
	background-color: #fff;
	background-image: none;
	background-size: auto;
}

.or-text {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Montserrat, sans-serif;
	color: #1b0033;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}

.container-subdiv {
	padding-top: 21px;
	-webkit-align-self: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	border-top: 1px none #ccc;
	text-align: center;
}

.sdk-div {
	display: -ms-grid;
	display: grid;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	grid-auto-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

@media screen and (max-width: 990px) {
	.sdk-div {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.kep-login-facebook.metro {
		margin-top: 16px;
	}
}

.sdkbutton-div {
	display: inline-block;
	width: auto;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 0 10px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-style: none;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 0;
	background-color: #fff;
	box-shadow: 1px 1px 5px 0 #a1a1a1;
}

#w-node-48ce76d7e9cb-186f456f {
	justify-self: auto;
}

.button-icon {
	max-height: 20px;
	vertical-align: middle;
	display: inline-block;
}

.button.google {
	min-width: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #ccc;
	background-color: #fff;
	color: #1b0033;
}

.sdk-div button {
	height: 39px;
}

.sdk-div button div {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.sdk-div button span {
	margin-left: auto;
	margin-right: auto;
}

.kep-login-facebook.metro {
	padding: 8px 8px 12px;
	width: 100%;
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	text-indent: 28px;
	text-transform: none;
	background: #ffffff url("../img/icon-facebook.svg") no-repeat 12px 8px;
	background-size: 22px;
	color: rgba(0, 0, 0, 0.54);
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0 2px 2px 0, rgba(0, 0, 0, 0.24) 0 0 1px 0;
}

.div-block-46 {
	padding-top: 20px;
}

.heading-11 {
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	text-align: center;
}

.link-5 {
	font-family: Montserrat, sans-serif;
	color: rgba(27, 0, 51, 0.7);
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	text-decoration: none;
}
